@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

body{
  height: 100vh;
  font-family: 'Fjalla One', sans-serif;
}

img{
  width: 100%;
}

#app{
  background-color: #304030;
  background-image: url('~@/assets/img/tomato--orange.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-left: 4rem;
}

#sidebar{
  font-family: 'Noto Sans TC', sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  
  .btns{
    background-color: #E8E8E8;
    width: 4rem;
    position: relative;
    z-index: 9999;
    button{
      background-color: transparent;
      border: none;
      &:hover,&:active,&:focus{
        background-color: #fff;
      }
      &:focus{
        border: none;
        box-shadow: none;
      }
    }
  }

  #sidebar-lsit,
  #sidebar-analysis{
    background-color: #304030 !important;
    color: white !important;
    padding-left: 4.5rem;
  }
}

#countdown{
  .time{
    font-size: calc(100px + 5vw);
  }

  .btns{
    gap: 1rem;
  }

  button{
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
  }
  
  .btn-lg{
    width: 4rem;
    height: 4rem;
  }
}